{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/room.css' %}">
{% endblock style %}

{% block title %}
    <title>{{ room_name }}</title>
{% endblock title %}

{% block content %}
    <div id="main-container">        
        <div class="header">
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid d-flex justify-content-start">
                  <a class="navbar-brand" href="{% url 'chat:index' %}">Realtimechat</a>
                  <a id="all-members" class="btn me-0 pe-0">Members(<span id="members-num">0</span>)</a>
                  <a id="users-online" class="btn ms-0">Online(<span id="online-num">0</span>)</a>
                </div>
            </nav>
        </div>
        <div class="side-nav">
            <div id="total-members">
                <p>Members</p>
                <ul id="member-list">
                   
                </ul>
            </div>

            <div id="online-users">
                <p>Online</p>
                <ul id="user-list">

                </ul>
            </div>
            
        </div>

        <div class="main">
            
            <!-- <div class="message-container">
                <div class="message card">
                    <p class="username">name</p>
                    <p class="chat-message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, quam!</p>
                    <p class="time">2:00 am</p>
                </div>
            </div> -->

        </div>  

        <div class="bottom">
            <div id="message-div">
                <textarea name="" id="message-input" cols="30" rows="1"></textarea>
                <button type="button" id="message-send">Send</button>
            </div>
        </div>
    </div>

    {{ room_name|json_script:"room-name" }}

    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
    
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onopen = function (e) {
            alert("Connected")
            // chatSocket.send(JSON.stringify({
            //             'time_zone': Intl.DateTimeFormat().resolvedOptions().timeZone
            //         }));
        }


        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            
            if (data.chat) {
                const chats = JSON.parse(data.chat)

                for (let index = 0; index < chats.length; index++) {
                    const chat = chats[index]
                    const user = (chat.user_id || chat.user)
                    const message = chat.message
                    const pyUtcDate = chat.date
                    
                    const user_timezone = Intl.DateTimeFormat().resolvedOptions().timeZone
                    const newtz = new Date(pyUtcDate).toLocaleString('en-US', { timeZone: user_timezone });
                    const time = newtz.slice(10, newtz.length)

                    let mainDiv = document.querySelector(".main")

                    let chatContainerElem = document.createElement("div")
                    let messageDiv = document.createElement("div")

                    let usernameElem = document.createElement("p");
                    usernameElem.className = "username"
                    usernameElem.textContent = user

                    let chatElem = document.createElement("p");
                    chatElem.className = "chat-message"
                    chatElem.textContent = message

                    let timeElem = document.createElement("p");
                    timeElem.className = "time";
                    timeElem.textContent = time;

                    if (user == "{{ current_user }}") {
                        chatContainerElem.className = "message-container"
                        messageDiv.classList = ["message card"];
                    } else {
                        chatContainerElem.className = "left-message-container"
                        messageDiv.classList = ["message left-message card"];
                        messageDiv.appendChild(usernameElem);
                    }        

                    messageDiv.appendChild(chatElem);
                    messageDiv.appendChild(timeElem);
                    chatContainerElem.appendChild(messageDiv)

                    mainDiv.appendChild(chatContainerElem)

                    }


                    let mainDiv = document.querySelector(".main")
                    mainDiv.scrollTo(0,mainDiv.scrollHeight)
            
            }



            if (data.members) {
                const members = JSON.parse(data.members)
                document.getElementById("members-num").textContent = members.length;
                let memberListElem = document.getElementById("member-list");
                memberListElem.textContent = "";
                

                for (let index = 0; index < members.length; index++) {
                    const member = members[index].user_id;
                    let liElem = document.createElement("li")
                    liElem.textContent = member
                    memberListElem.appendChild(liElem)
                }

            }


            if (data.online_users) {
                const online_users = JSON.parse(data.online_users)
                document.getElementById("online-num").textContent = online_users.length;
                let onlineUserListElem = document.getElementById("user-list");
                onlineUserListElem.textContent = "";

                for (let index = 0; index < online_users.length; index++) {
                    const online_user = online_users[index].user_id;
                    let liElem = document.createElement("li")
                    liElem.textContent = online_user
                    onlineUserListElem.appendChild(liElem)
                }
            }

        };


        // Show the members of the group
        let memberElem = document.getElementById("all-members");
        let membersList = document.getElementById("member-list").childNodes;
        memberElem.addEventListener("click", () => {
            let eachMemberTogether = "";
            membersList.forEach(element => {
                eachMemberTogether += element.textContent + "\n"
            });
            alert(eachMemberTogether);
        });

        // Show the names of users online
        let onlineElem = document.getElementById("users-online");
        let onlineUserList = document.getElementById("user-list").childNodes;
        onlineElem.addEventListener("click", () => {
            let eachOnlineUserTogether = "";
            onlineUserList.forEach(element => {
                eachOnlineUserTogether += element.textContent + "\n"
            });
            alert(eachOnlineUserTogether);
        })

        


        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
            alert("Disconnected\nReload browser");
            let url = "{% url 'chat:delete_user_channel' 1234 %}".replace(/1234/, roomName)

            async function delete_user_channels() {
                let responseFetch = await fetch(url);
                let response = await responseFetch.json();
            }
            delete_user_channels();
        };

        document.querySelector('#message-input').focus();
        document.querySelector('#message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#message-send').click();
            }
        };

        document.querySelector('#message-send').onclick = function(e) {
            const messageInputDom = document.querySelector('#message-input');
            const message = messageInputDom.value;

            if (message.match(/\S/)) {
                if (message.length != 0) {
                    chatSocket.send(JSON.stringify({
                        'message': message
                    }));
                    messageInputDom.value = '';
                }
            }
           
        };
    </script>
{% endblock content %}
