{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock style %}

{% block title %}
    <title>Real time chat</title>
{% endblock title %}
 
{% block content %}
{% include "nav.html" %}

    <div id="sub-heading" class="container-fluid m-0">
        <div id="first-heading" class="text-center">
            <p id="site-name">Realtimechat</p>
            <p id="banner">Generate a link and chat with anybody around the world instantely.</p>
            <p><a href="#second-heading"><input type="button" id="start" value="Get started"></a></p>
        </div>

        <div id="second-heading">
            <div id="how-to-start">
                <h3 class="text-center">How to start</h3>
                <ol>
                    <li>Click on the generate button to generate a group link and password.</li>
                    <li>Copy the group password.</li>
                    <li>Open the link and login.</li>
                    <li>Send link and group password to whoever you want to chat with.</li>
                    <li>Chat messages are valid for 24 hours.</li>
                </ol>
                <p class="mt-5 text-center"><a href="#third-heading"><input class="bg-success" id="generate-link" type="button" value="Generate"></a></p>

            </div>
        </div>

        <div id="third-heading">
            <div id="credentials" class="card">
                <div class="card-header text-center">
                    <h4>Generated</h4>
                  </div>        

                  <div class="card-body">
                    <p>
                        <b>Group password:</b>
                        <input type="text" name="" class="border-0" id="group-password" value="" placeholder="group password" readonly> 
                        <span>
                            <a title="copy" role="button" class="button">
                                <i class="fas fa-copy text-success fw-bold p-1 ms-2"></i>
                            </a>
                        </span>
                    </p>

                    <p>
                        <b>Link:</b> 
                        <input type="text" name="" class="border-0" id="group-link" value="" placeholder="chat link" readonly> 
                        <span>
                            <a title="copy" role="button" class="button">
                                <i class="fas fa-copy text-success fw-bold p-1 ms-2"></i>
                            </a>
                        </span>
                    </p>
                    
                    <p class="text-center">
                        <a href="" target="_">
                            <input class="link-button" type="button" value="Open">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p><b>Realtimechat</b> allows you to chat with anyone by generating a link.</p>
        <p>Whoever joins the link has access to the chat.</p>
        <p>&copy; <b>2021</b></p>
    </footer>


    <script>


        let genLink = document.getElementById("generate-link")
        genLink.addEventListener("click", genenerate);

        // Generate new group name and pasword
        function genenerate() {
            var url = "{% url 'chat:generate' %}"

            let gen = async function getName() {
                let responseFetch = await fetch(url);
                let response = await responseFetch.json();
                
                groupPasswordElem = document.getElementById("group-password");
                groupPasswordElem.value = response.generated_password;
                
                // Change the group link input button to the generated one
                let host_url = window.location.host;
                let group_link = host_url + "/chat/" + response.generated_name + "/"
                let group_link_elem = document.getElementById("group-link");
                group_link_elem.value = group_link

                // Change the group link to the generated one
                link_button_elem = document.querySelector(".link-button")
                link_button_elem.parentElement.href = "{% url 'chat:room' 1234 %}".replace(/1234/, response.generated_name)
    
                genLink.disabled = true;
            }()
        }
        
        // Select the card body 
        const copy = document.querySelector(".card-body")
        copy.onclick = function (e) {
            // Get the class list of the target
            let copyElemClassList = e.target.classList

            // Check if the 'fa-copy' is in the class list
            copyElemClassList.forEach(element => {
                if (element == "fa-copy") {
                    let elemToCopy = e.target.parentElement.parentElement.parentElement.children[1]

                    // Copy the value of group-password or group-link
                    if ((elemToCopy.id == "group-password") || (elemToCopy.id == "group-link")) {
                        const copyText = document.getElementById(elemToCopy.id)

                        if (copyText.value) {
                            copyText.select();
                            copyText.setSelectionRange(0, 99999);
                            document.execCommand("copy")
                            alert("Copied")
                        }
                        
                    }  

                }
            });
            
        }

    </script>
    
{% endblock content %}
