    <nav class="navbar navbar-expand-sm navbar-light bg-light m-0">
        <div class="container-fluid m-0">
            <a class="navbar-brand" href="{% url 'chat:index' %}">Realtimechat</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-5">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'chat:index' %}">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#second-heading">Start</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#third-heading">Generate</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>